<h1>Welcome to Renter</h1>

<title>Renter</title>
<<<<<<< HEAD



<% @accesser = Accesser.all  %>
<% @accesser.each do |viewer| %>

viewable_profile:
<%= viewer.viewable_profile %>
viewing profile:
<%= viewer.viewing_id %>

<br>
<% end %>
=======
<div class="row">
  <div class="small-8 large-centered columns">
    <div class="row">
      <!-- <%= image_tag('homepage.jpg', draggable: "true", id: "drag1") %> -->
      <div class="small-4 columns text-right"><%= image_tag('homepage.jpg', draggable: "true", id: "drag1") %></div>
        <div class="small-8 columns text-left">
          <p>
            Reviews<br>
            Housing<br>
            More<br>
            More<br>
            More<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
>>>>>>> 8a8dd4a53016501c2439af13d7181eeef0f324ff
