<h1>Welcome to Renter</h1>

<title>Renter</title>

<h3> Renter is super useful for the following: </h3>
<p>
<ul>
  <li> Giving one time rental references to your tenants </li>
  <li> Receiving references from your past landlords </li>
  <li> Releasing your references to landlords you are applying for housing with </li>
  <li> Saving time! </li>
  <li> Having fun! </li>
</ul>
</p>

<%= image_tag('homepage.jpg', draggable: "true", id: "drag1") %>










<!-- <div class="row">
  <div class="small-8 large-centered columns">
    <div class="row">
      <div class="small-4 columns text-right"><%= image_tag('homepage.jpg', draggable: "true", id: "drag1") %></div>
        <div class="small-8 columns text-left">
          <p>
            Reviews<br>
            Housing<br>
            More<br>
            More<br>
            More<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <%= image_tag('homepage.jpg', draggable: "true", id: "drag1") %> -->
<!-- <p style="width: 500px;">
  <img src="images/homepage.jpg" style="float: right;" />
  This is some text
</p> -->
