<h1>Welcome to Renter</h1>

<title>Renter</title>
<!-- <div class="row">
  <div class="small-8 large-centered columns">
    <div class="row">
      <div class="small-4 columns text-right"><%= image_tag('homepage.jpg', draggable: "true", id: "drag1") %></div>
        <div class="small-8 columns text-left">
          <p>
            Reviews<br>
            Housing<br>
            More<br>
            More<br>
            More<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <%= image_tag('homepage.jpg', draggable: "true", id: "drag1") %> -->
<p style="width: 500px;">
<img src="images/homepage.jpg" style="float: right;" />
This is some text
</p>
>>>>>>> 1e393a133955700f6c699666a55edcb00617190c
